*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'apple';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
    display: flex;
    max-width: 328px;
    width: 100%;
}



@font-face {
    font-family: 'apple';
    src: url(/fonts/SF-Pro-Display-Regular.otf);
}