*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'apple';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
    display: flex;
    max-width: 328px;
    width: 100%;
}

.display{
    text-align: right;
    width: 100%;
}

.expr{
    font-size: 19px;
    color: gray;
    padding: 0px 20px 0px;
}

.result{
    padding: 0px 10px 20px;
    font-size: 60px;
}

@font-face {
    font-family: 'apple';
    src: url(/fonts/SF-Pro-Display-Regular.otf);
}