*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'apple';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.calculator{
    display: flex;
    max-width: 328px;
    width: 100%;
}

.display{
    text-align: right;
    width: 100%;
}

.expr{
    font-size: 19px;
    color: rgb(128, 128, 128);
    padding: 0px 0px 0px;
}

.result{
    padding: 0px 0px 10px;
    font-size: 55px;
    color: white;
}

.box-buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 8px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    font-size: 32px;
    aspect-ratio: 1;
    color: white;
}

.btn-func{
    background-color: rgb(100, 100, 100);
}

.btn-func:active{
    background-color: rgb(134, 134, 134);
    transform: scale(1.2);
}

.btn-op{
    background-color: rgb(255, 153, 0);
}

.btn-op:active{
    background-color: rgb(255, 181, 69);
    transform: scale(1.2);
}

.btn-num{
    background-color: rgb(65, 65, 65);
}

.btn-num:active {
    background-color: rgb(100, 100, 100);
    transform: scale(1.2);
}

@font-face {
    font-family: 'apple';
    src: url(/fonts/SF-Pro-Display-Regular.otf);
}